@import '../../assets/scss/common/variable';
@import '../../assets/scss/common/mixins';

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba($black, 0.5);
    width: 100vw;
    height: 100vh;
    opacity: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.5);
    transition: all 0.3s ease;
    &.show{
        opacity: 1;
        transform: scale(1);
        z-index: 103;
        transition: all 0.3s ease;
    }
    .btn-icon{
        position: absolute;
        top: 25px;
        right: 25px;
        font-size: 20px;
        color: #FFF;
    }
    .lightbox-image{
        width: 80%;
        height: 80%;
        img{
            width: auto;
            height: 100%;
            display: block;
            margin: auto;
            border-radius: 10px;
            @include max(575px){
                width: 100%;
                height: auto;
            }
        }
    }
}