.main-page{
    padding-top: 75px;
    background: $default-bg;
    min-height: 100vh;
    @include max(768px){
        padding-top: 85px;
    }
    .main-page-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        select{
            width: 250px;
            padding: 0 10px;
            color: black;
            @include max(768px){
                width: 200px;
            }
        }
    }
}